In [14]:
import duckdb
import pandas as pd

In [15]:
csv_file = "./data/summary_precip_data.csv"
df = pd.read_csv(csv_file, parse_dates=["Date"])

In [16]:
df["Year"] = pd.DatetimeIndex(df["Date"]).year
df["Month"] = pd.DatetimeIndex(df["Date"]).month
df.head(n=10)

   Gage       Date   Time  Duration  Depth  Year  Month
0     1 2000-02-21  22:46      72.0  0.120  2000      2
1     1 2000-02-22  03:33      81.0  0.030  2000      2
2     1 2000-03-06  20:09     291.0  0.275  2000      3
3     1 2000-03-07  02:11      38.0  0.020  2000      3
4     1 2000-03-07  07:29      51.0  0.040  2000      3
5     1 2000-03-21  07:56      21.0  0.030  2000      3
6     1 2000-06-01  15:24     174.0  0.285  2000      6
7     1 2000-06-20  12:49       6.0  0.190  2000      6
8     1 2000-06-22  13:37      45.0  0.360  2000      6
9     1 2000-06-22  18:44       1.0  0.010  2000      6

In [18]:
df2 = df.groupby(["Gage", "Year", "Month"], as_index=False)["Depth"].sum()
df2.head(n=12)

    Gage  Year  Month  Depth
0      1  2000      2  0.150
1      1  2000      3  0.365
2      1  2000      6  1.715
3      1  2000      7  1.465
4      1  2000      8  6.265
5      1  2000      9  0.160
6      1  2000     10  4.585
7      1  2000     11  1.025
8      1  2000     12  0.190
9      1  2001      1  1.635
10     1  2001      2  0.040
11     1  2001      3  0.280